div.masthead{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("imgs/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: center center;
    min-height: 3rem;
    position: relative;
    display: table;
    padding-bottom: 8rem;
    padding-top: 12rem;
    height: 100vh;
    width:100%;
}
div.mast-banner{
    color:aliceblue;
    font-size: 40px;

}
h1.mast-header{
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    font-size: 60px;
}
p.mast-text{
    font-family: 'Merienda', cursive;
    font-size: 20px;
}
.nav-link{
    color:rgb(253, 148, 10);
}
.hst-text{
    padding: 2rem;
    
}
.hst-btn{
    padding: 2rem;
}
.hst-card{
    background-color: #cccccc;
}

.team-img{
    height: 30vh;
    width:30vh;
    display: block;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-end-end-radius:50%;
    
}

.card-team{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:rgb(255, 255, 255) ;
  
}











.red{
    color: red !important;
  }
  
  footer{
    background-color: #f5f5f5;
    padding: 80px 0;
    .footer-widget{
      h3{
        margin-bottom: 30px;
      }
    }
    .contact-link{
      display:inline-block;
      width: 100%;
      color: #333;
    }
    // footer social
    .footer-social{
      ul{
        padding-left: 0;
        li{
          list-style: none;
          float: left;
          padding: 0 10px;
          &:first-child{
            padding-left: 0;
          }
          a{
            font-size: 20px;
            color: #333;
            &:hover{
              color: red;
            }
          }
        }
      }
    }
    
    // opening hour
    .opening-time{
      padding-left:0;
      li{
        list-style: none;
        span{
          float:left;
          padding-right: 10px;
          .fa-times{
            color: red;
          }
        }
          strong{
            color: red;
          }
      }
    }
    
    // latest event
    .media-body{
      a{
        color: #333;
        &:hover{
          color: red;
        }
      }
      span{
          color: #969696;
        }
    }
    
    // gallery image
    .images-gellary{
      ul{
        padding-left: 0;
        li{
          list-style: none;
          float: left;
          margin: 0 3% 2% 0;
          width: 31%;
          position: relative;
          &:nth-child(3n) {
      margin: 0 0 1%;
  }
          
        }
      }
    }
  }

  /*320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large scre*/
@media screen and (min-width:320px) and (max-width:480px) {
    /* Target portrait smartphones.*/

div.masthead{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("imgs/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: center center;
    min-height: 3rem;
    position: relative;
    display: table;
    padding-bottom: 6rem;
    padding-top: 8rem;
    height: 75vh;
    width:100%;
}
.hst-img{
    height: 25vh;
    width: 25vh;
}
.hst-text-more{
    display:none;
}
div.mast-banner{
    color:aliceblue;
    font-size: 30px;

}
h1.mast-header{
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    font-size: 50px;
}
p.mast-text{
    font-family: 'Merienda', cursive;
    font-size: 15px;
}
.nav-link{
    color:rgb(253, 148, 10);
}
.hst-text{
    padding: 2rem;
    
}
.hst-btn{
    padding: 2rem;
}
.hst-card{
    background-color: #cccccc;
}

.team-img{
    height: 30vh;
    width:30vh;
    display: block;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-end-end-radius:50%;
    
}

.card-team{
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:rgb(255, 255, 255) ;
  
}
.team-sec{
    height:50vh;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.card-food{
    height: 60vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:rgb(255, 255, 255) ;
  
}


    
}
